nav{
    background-color: #6565650e;
    backdrop-filter: blur(10px);
    .nav-link{
        color: var(--text-secondary-color)
    }
    .active{
        color: var(--text-primary-color) !important;
    }
    .navbar-brand{
        color: var(--text-primary-color) !important;
        font-weight: bold;
    }
}
.form-control{
    background-color: var(--background-color);
    border-color: var(--border-color);
    font-weight: 450;
    color: var(--text-primary-color);
}