<div class="main col">
    <nav></nav>
    <div class="homePage row justify-content-center ">
        <aside class="col-sm-2">
            <ul>
                <li>li</li>
                <li>li</li>
                <li>li</li>
                <li>li</li>
                <li>li</li>
                <li>li</li>
                <li>li</li>
                <li>li</li>
                <li>li</li>
                <li>li</li>
            </ul>
        </aside>
        <main class="col-sm-9">
            <div class="parent">
                <div class="div1"> requests </div>
                <div class="div2"> total request | failed request</div>
                <div class="div3"> 2xx Status code </div>
                <div class="div4"> 3xx Status code </div>
                <div class="div5"> 4xx Status code </div>
                <div class="div6"> 5xx Status code </div>
                <div class="div7"> Top Paths </div>
                <div class="div8"> Top Status Code</div>
                <div class="div9"> Top Top Client IPs</div>
                <div class="div10"> Top Protocols</div>
                <div class="div11"> Top Top HTTP Methods</div>
                <div class="div12"> Top Users</div>
                </div> 
        </main>
    </div>
</div>